.contentHeader {
  display: flex;
  background-color: #f0eeee5e;
  /* box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75); */
  border: 0.5px solid lightgray;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 65vw;
  height: 6vh;
  /* min-width: 630px; */
  min-height: 35px;
  /* margin-bottom: 10px; */
  align-items: center;
  justify-content: flex-end;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.contentHeader::-webkit-scrollbar {
  display: none;
}

.contentHeader__menu {
  padding-left: 15px;
  font-weight: 200;
  display: flex !important;
  margin-right: 20px;
}

.contentHeader__menu > p {
  margin-right: 5px;
  color: rgb(202, 199, 199);
}

.contentHeader__menuText {
  display: flex;
  margin-right: 15px;
  align-content: center;
}

.contentHeader__menuText > h4 {
  margin-right: 5px;
  margin-left: 10px;
  font-weight: 200;
}

.contentHeader__menu > .MuiSvgIcon-root {
  margin-left: 15px !important;
  height: 20px !important;
  margin-top: 1.5px;
}

.contentHeader__menuDetail {
  margin: 0 5px;
}

.contentHeader__menuDetail:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1025px) {
  .contentHeader {
    margin-top: 2vh;
    justify-content: space-evenly;
    width: 94vw;
  }

  .contentHeader__menuDetail {
    margin-right: 50px;
  }

  .contentHeader__menuText,
  .contentHeader__menuBreak {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .contentHeader__menuDetail {
    padding: 0;
    margin: 0;
    margin-right: 25px;
  }
  .contentHeader__menu {
    margin-left: 10px;
  }
}

@media screen and (max-width: 520px) {
  .contentHeader__menu > .MuiSvgIcon-root {
    display: none;
  }
  .contentHeader__menu {
    margin-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .contentHeader__menu {
    font-size: small;
  }
}
