.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f0eeee5e;
  /* background-color: #f0eeee; */
  /* box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75); */
  border-radius: 20px;
  border: 0.5px solid lightgray;
  margin-right: 15px;
  height: 85vh;
  min-width: 210px;
  justify-content: initial;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__icon > img {
  object-fit: contain;
  width: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px solid lightgray;
}

.sidebar__icon {
  margin-top: 50px;
  margin-bottom: 10px;
  color: lightgray;
}

.sidebar__icon > p {
  font-weight: 200;
}

.sidebar__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.sidebar__person > h2 {
  font-weight: 300;
}

.sidebar__person > p {
  margin-top: 10px;
  font-weight: 200;
}

.sidebar__phone > p {
  font-weight: 200;
  font-size: medium;
  margin-left: 5px;
}

.sidebar__phone {
  padding-left: 1px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar__location {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 200;
}

.sidebar__location > p {
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar__employ {
  display: flex;
  align-items: center;
  font-weight: 200;
  margin-bottom: 10px;
}

.sidebar__employ > p {
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar__seperate {
  margin-top: 5px;
  color: lightgray;
  font-weight: 200;
}

@media screen and (max-width: 1025px) {
  .sidebar {
    margin-top: 20px;
    margin-right: 0px;
    height: 18vh;
    min-height: 100px;
    min-width: none;
    display: flex;
    flex-direction: row;
    /* /* text-align: center; */
    overflow: unset;
    justify-content: space-evenly;
    align-items: center;
  }
  .sidebar__info {
    display: none;
  }
  .sidebar__icon {
    margin: 0;
  }
  .sidebar__icon > img {
    width: 80px;
  }

  .sidebar__seperate {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    margin-top: 3vh;
    margin-right: 0px;
    height: 18vh;
    min-width: unset !important;
    display: flex;
    flex-direction: row;
    /* /* text-align: center; */
    overflow: unset;
    justify-content: space-evenly;
    align-items: center;
  }
  .sidebar__info {
    display: none;
  }
  .sidebar__icon {
    margin: 0;
  }
  .sidebar__icon > img {
    width: 80px;
  }
  .sidebar__person {
    display: none;
  }
  .sidebar__seperate {
    display: none;
  }
}
